* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar {
  background-color: skyblue;
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
}
.navbar a {
  text-decoration: none;
  font-size: 1.5rem;
}
.container {
  border: 2px solid black;
  height: 665px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container h1 {
  font-size: 3rem;
  font-family: Tahoma, sans-serif;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9,
    0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1),
    0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2),
    0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2),
    0 20px 20px rgba(0, 0, 0, 0.15);
}
.container p {
  font-size: 50px;
}

.error a {
  text-decoration: none;
  margin: 25px 0;
  font-size: 35px;
  font-weight: 700;
}

.home {
  background-color: #d2df4c;
}
.about {
  background-color: #ff7baf;
}
.contact {
  background-color: #fcaf37;
}
.error {
  background-color: rgba(255, 0, 0, 0.541);
}
.active {
  color: #fff;
}
@media screen and (max-width: 400px) {
  .container {
    background-color: olive;
    text-align: center;
  }
}
